@media (min-width: 319px) and (max-width: 480px) {
    .upper-links{
        gap: 2rem;
        font-size:0.75rem
    }
    .mongolia{
        font-size:0.8rem;
        margin-bottom:0px;
        margin-top:0px;
    }
    .iu{
        margin-top:0px;
        margin-bottom:0px;
        font-size:0.75rem;
    }
    .welcome{
        font-size:3rem;
    }
    .card > p{
        font-size:0.8rem;
    }
}
@media (min-width: 481px) and (max-width: 1200px) {
    #upper-panel {
        gap: 3rem;
    }
    .upper-links{
        font-size: 0.8rem;  
    }
    .mongolia{
        font-size:1.3rem;
        margin-bottom:0px;
        margin-top:0px;
    }
    .iu{
        margin-top:0px;
        margin-bottom:0px;
        font-size:0.8rem;
    }
    .welcome{
        font-size:5rem;
    }
    .card > p{
        font-size:1.3rem;
    }
}
@media (min-width: 1201px) and (max-width: 1600px) {
    #upper-panel {
        gap: 3rem;
    }
    .upper-links{
        font-size: 1.3rem;
    }
    .mongolia{
        font-size:1.5rem;
        margin-bottom:0px;
        margin-top:0px;
    }
    .iu{
        margin-top:0px;
        margin-bottom:0px;
        font-size:1.3rem;
    }
    .welcome{
        font-size:7rem;
    }
    .ugtext{
        font-size:3rem;
    }
    .card > p{
        font-size:1.5rem;
    }
}
@media (min-width: 1601px){
    #upper-panel {
        gap: 5rem;
    }
    .upper-links{
        font-size: 1.5rem;  
    }
    .mongolia{
        font-size:2rem;
        margin-bottom:0px;
        margin-top:0px;
    }
    .iu{
        margin-top:0px;
        margin-bottom:0px;
        font-size:1.5rem;
    }
    .welcome{
        font-size:9rem;
    }
    .ugtext{
        font-size:5rem;
    }
    .card > p{
        font-size:2rem;
    }
    .langbutton{
        height: 3vh;
        width: 5vh;
    }
}
body {
    margin: 0;
    padding: 0;
}
.bgimg {
    width: 100%;
    height: 95vh;
    opacity: 70%;
}
#container {
    position: relative;
    width: 100hv;
}
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline for the link */
    color: inherit; /* Inherit the text color from the parent */
}
.logo{
    position:fixed;
    width:10vh;
    left: 0;
}
.word-container {
    color: white;
    position: fixed;
    left: 12vh; /* Adjust the left position to align with the logo */
 
}
.mongolia{
    margin-bottom:0px;
    margin-top:0px;
}
.iu{
    margin-top:0px;
    margin-bottom:0px;
}

#upper-panel {
    position: fixed;
    width: 100%;
    top: 0;
    height: 10vh;
    background-color: rgb(93, 0, 112, 0.3);
    display: flex;
    align-items: center;
    justify-content: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index:1;
}
.upper-links{
    display: flex;
    margin-right: 20vh;
}

li {
    list-style: none;
}
.upper-links > a {
    color: white;
    text-decoration: none;
    position: relative;
    padding:20px;
    transition: 0.15s ease-in-out; 
}
.upper-links > a:hover{
    background-color: rgb(246, 197, 0);
    transition: 0.5s;
}
.langbutton{
    position: absolute;
    margin-right: 5vh;

}  
.welcome {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    -webkit-text-stroke: 3px rgb(195, 195, 195);
    font-weight: 300;
    font-family: fantasy;
    margin:0;
}
.courses-container {
    background-color: rgb(93, 0, 112);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.ugtext{
    position: absolute;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ug {
    top:25%;
    height: 70%;
    width: 90%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 0.75fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.card {
    background-color: white;
    height: 100%;
    border-radius: 5vh;
    transition: transform 0.1s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card:hover{
    transform: scale(1.05);
}
.card > p{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cs {
    background-color: blue;
}
.manag{
    background-color: green;
}
.isc{
    background-color: rgb(92, 88, 0);
}
.other{
    background-color:#ff6464;
}
.courses-container2 {
    background-color: rgb(93, 0, 112);
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.gr {
    top:30%;
    height: 60%;
    width: 90%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 0.75fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.buildings {
    width:100%;
}
.mp-cont{
    background-color: rgb(216, 216, 216);
    height:50vh;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.textcont{
    position:absolute;
    justify-content: center;
    align-items: center;
    width:95%;
}



/* a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
}

a:hover::before {
    width: 100%;
} */